* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin: 35px 0px 80px 55px;
}

.link-header {
    font-weight: 400;
    font-size: 14px; 
    margin-right: 18px;
    line-height: 21px;
    cursor: pointer;
    color: #17233D;
}

.header-button {
    width: 110px;
    height: 41px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: #ffffff;
    background: #6FBF44;
}

.park-image {
    width: 520px;
    height: 380px;
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 76px;
}

h1 {
    font-weight: 700px;
    font-size: 62px;
    margin-bottom: 25px;
    width: 120px;
    height: 80px;
    color: #161A49;
}

h2{
    width: 493px;
    height: 39px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #161A49;
}

p {
    width: 483px;
    height: 170px;
    font-weight: 400;
    font-size: 18px;
    color: #4B505A;
    text-align: justify;
}

.button-main {
    width: 110px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #6FBF44;
}