*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;
}

body{
    background: #707070 ;
}

.father{
    width: 200px;
    height: 200px;
    background: #ff120f;
}

.son{
    width: 100px;
    height: 100px;
    background: #f021ff;
}

.son2{
    width: 70px;
    height:70px;
    background: #ffaa22;
}